{% extends 'base.html' %}

{% block head %} 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Payment</title>
<style>
    .bg{
        background-color: rgb(226, 186, 186);
        width: 100%;
        height: 1500px;
    }
    .head{
        background-image: url('/static/flag.webp');
        font-size: 50px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    #tt{
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline 20% solid green;
        text-shadow: 0 0 10px whitesmoke;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #9c0404;
        overflow: hidden;
    }
    li{
        float: left;
        border-right: 1px solid rgb(231, 56, 56);
    }
    li:last-child {
        border-left: none;
    }
    li #bt{
        border-radius: 8px;
        font-size: 40px;
        background-color: #870000;
        display:block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: none;
    }
    li #bt:hover:not(.active){
        background-color: #111;
    }
    .active{
        background-color: #04AA6D;
    }
    .footer{
        position: relative;
        background-color: rgb(12, 89, 12); 
        margin-top: -280px;   
    }
    .text{
        color: aliceblue;
        padding-top: 2px;
        padding-bottom: 5px;
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }
    #myBtn:hover {
        background-color: #555;
    }
    .pl{
        font-size: 30px;
        background-color: green;
        text-align: left;
        padding-left: 40px;
        text-shadow: 0 0 10px white;
    }
    * {
    box-sizing: border-box;
    }
    .checkbox{
        margin: 350px;
        margin-top: 0px;
        border-radius: 8px;
        font-size: 30px;
    }
    .box{
        background-color: wheat;
        padding: 20px;
        border: 5px solid darkgreen;
    }
    input[type=text] {
        font-size: 20px;
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 3px solid #ccc;
        border-radius: 8px;
    }
    #paybt {
        background-color: #04AA6D;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 8px;
        cursor: pointer;
        font-size: 17px;
    }
    .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 50px;
    }
</style>
{% endblock %}

{% block body %} 
<div class="bg">
    <div class="head">
        <h1 id="tt"><b>Yummy Pizza</b></h1> 
    </div>
    <div class="menu">
        <ul>
            <li><form action="/index/" method="get">
                <button class="active" id="bt" name="button" type="submit"> <b>HOME</b> </button>
            </form></li>
            <li><form action="/menu/" method="post">
                <button id="bt" name="button" type="submit"> Menu </button>
            </form></li>
            <li><form action="/memLog/" method="post">
                <button id="bt" name="button" type="submit"> Member </button>
            </form></li>
            <li><form action="/address/" method="post">
                <button id="bt" name="button" type="submit"> Address </button>
            </form></li>
            <li><form action="/team/" method="post">
                <button id="bt" name="button" type="submit"> Our team </button>
            </form></li>
            <li style="float:right"><form action="/book/" method="post">
                <button id="bt" name="button" type="submit"> <b>Book</b> </button>
            </form></li>
        </ul>
    </div>
    <div class="pl">
        <h1>Payment</h1>
    </div>
    <div class="checkbox">
        <div class="box">
            <label for="fname"> <b>Accepted Cards</b> </label>
            <div class="icon-container">
            <i class="fa fa-cc-visa" style="color:navy;"></i>
            <i class="fa fa-cc-amex" style="color:blue;"></i>
            <i class="fa fa-cc-mastercard" style="color:red;"></i>
            <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <form action="/addpayment/" method="post">
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" maxlength="20">
            <label for="ccnum">Card number</label>
            <input type="text" id="ccnum" name="cardnumber" pattern="[0-9]*" inputmode="numeric">
            <label for="exp">Expiration (mm/yy)</label>
            <input type="text" id="expyear" name="exp" pattern="[0-9]*" inputmode="numeric">
            <label for="CVV">CVV</label>
            <input type="text" id="cvv" name="cvv" pattern="[0-9]*" inputmode="numeric" >
            <label>
                <input type="checkbox" checked="checked" name="member" > Member
                <input type="text" id="memcode" name="memcode" placeholder="Member Numbers">
            </label>
            <button id="paybt" value="pay">pay</button>
            </form> 
        </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">top</button>
   <div class="footer">
        <div class="text">
            <p><b>Address</b></p>
            <p>Tel:072 835 0991</p>
            <p>Krigsstigen 14</p>
            <p>182 73 Stocksund</p>
            <p>Stockholm Sweden</p>
        </div>
    </div>
</div>
<script>
let mybutton = document.getElementById("myBtn");

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

{% endblock %}